<!DOCTYPE html>
<html lang="ru">
{%load static%}
<head>
    <meta charset="UTF-8">
    <title>Статья {{item.id}}</title>
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
{% include 'hello_block.html' %}
{% include 'sub_block.html' %}


<div class="entity">
    <div class="entity header">
        {{item.header}}: {{item.author}} от {{item.posted_since}}
    </div>
    <div class="entity content">
        {{item.content}}
    </div><br>

    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>