<!DOCTYPE html>
<!-- Это шаблон и блога и новостной ленты -->
{% include 'head.html' %}

<body>

    {% include 'hello_block.html' %}

    {% if request.path == '/news/' %}

    <!-- Если это ваша новостная лента, то не предлагать подписываться -->

    {% else %}

    {% include 'sub_block.html' %}

    {% endif %}

    {% if all %}

    <!-- Если новостная лента пустая, то предложить подписаться на рандомного пользователя -->

    {% for item in all %}
        <div id='{{item.author.id}}' class="entity">
            <div id='{{item.id}}' class="entity_header">
                <a href='/detail/{{item.id}}'>Запись</a> {{item.header}}: от <a href="/other/{{item.author}}">
                    {{item.author}}</a> {{item.posted_since}}
                {%if author != user %}
                <button class="mark_as_readable">Отметить пост как прочитанный</button>
                <button class="subscribe_off {{item.author.id}}">Отписаться</button>
                {% endif %}
            </div>
            <div class="entity content">
                {{item.content}}
            </div><br>
        </div><br>
    {% endfor %}

    {% else %}
    
    {% if other %}
    <p>Нет постов из подписок! </p>
    <p>Начать с него?</p>
        {% for somebody in other %}
        <div id='{{somebody.id}}' class="entity">
            <button name="submit" class="subscribe_on {{somebody.id}}">Подписаться на {{somebody}}</button>
        </div>
        {% endfor %}
    {% endif %}
    {% endif %}

    {% include 'default_paginator.html' %}

    {% if form %} {% include 'create_post.html' %}  {% endif %}

  

</body>

</html>